@model ManagerEmployeeNeoCharacter.Models.Character

@{
    ViewBag.Title = "آزمون شخصیت";
}

<h2>آزمون شخصیت</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>آزمون شخصیت</legend>

        <div class="editor-label">
            @Html.HiddenFor(model => model.A)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.A)
            @Html.HiddenFor(model => model.A)
        </div>

        <div class="editor-label">
            @Html.HiddenFor(model => model.B)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.B)
            @Html.HiddenFor(model => model.B)
        </div>

        <div class="editor-label">
            @Html.HiddenFor(model => model.G)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.G)
            @Html.HiddenFor(model => model.G)
        </div>

        <div class="editor-label">
            @Html.HiddenFor(model => model.D)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.D)
            @Html.HiddenFor(model => model.D)
        </div>

        <div class="editor-label">
            @Html.HiddenFor(model => model.H)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.H)
            @Html.HiddenFor(model => model.H)
        </div>
   <div class="editor-label" hidden>
            @Html.LabelFor(model => model.EmployeeID, "Employee")
        </div>
        <div class="editor-field" hidden>
            @Html.DropDownList("EmployeeID", string.Empty)
            @Html.ValidationMessageFor(model => model.EmployeeID)
        </div> 
@{
   List<SelectListItem> listItems= new List<SelectListItem>();
   listItems.Add(new SelectListItem
        {
          Text = "0",
          Value = "0"
        });
   listItems.Add(new SelectListItem
        {
            Text = "1",
            Value = "1",
            Selected = true
        });
   listItems.Add(new SelectListItem
        {
            Text = "2",
            Value = "2"
        });
   listItems.Add(new SelectListItem
   {
       Text = "3",
       Value = "3"
   });
   listItems.Add(new SelectListItem
   {
       Text = "4",
       Value = "4"
   });
   listItems.Add(new SelectListItem
   {
       Text = "5",
       Value = "5"
   });
}
<table>
    <tr>
        <td>
            <h2>
           1) به طور کلی مهمترین عامل در ارزشیابی یک شغل برای من این است که:
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
ج-شغل مذکور شرایط مطلوبی را برای ایجاد روابط هماهنگ و صمیمانه کاری بوجود آورد. @Html.DropDownListFor(model => model.AA, listItems, "")        
د-در شغل مذکور امکان رشد سریع بر اساس تلاشهای فردی فراهم باشد. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
<tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
          2) من شخصا عقیده دارم پاداش واقعی کار:
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
الف-در رابطه با میزان حقوق, پاداشهای مادی  و مواردی از این قبیل است. @Html.DropDownListFor(model => model.AA, listItems, "")        
ه-نهفته در خود کار است.کار با معنی و انگیزاننده بوده و انسان را به خود جلب کند. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
    <tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
          3) من معتقدم روحیه و انگیزه کاری من در شغلم بیشترین آسیب را در صورتی می بیند که:
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
د-در مقابل کار مساوی با همکاران از احترام برابر با آنها برخوردار نباشم. @Html.DropDownListFor(model => model.AA, listItems, "")        
ه-احساس کنم از مهارتها و استعدادهای واقعی من استفاده نمی شود. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
    <tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
          4) من مایلم در شغلم حداکثر تلاش و کوشش را بعمل آورم اگر:
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
ب-برای اشتباهات تنبیه و مجازات د کار نباشد. @Html.DropDownListFor(model => model.AA, listItems, "")        
ج-محیط کاری من از نظر روابط گروهی صمیمانه و مطلوب باشد. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
    <tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
          5) بطور کلی مهمترین عامل در ارزشیابی یک شغل برای من این است که :
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
ج-شغل مذکور شرایط مطلوبی را برای ایجاد روابط هماهنگ و صمیمانه کاری بوجود آورد. @Html.DropDownListFor(model => model.AA, listItems, "")        
ه-در شغل مذکور از آزادی عمل کافی برخوردار باشم. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
    <tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
          6) من شخصا عقیده دارم پاداش واقعی کار:
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
الف- رابطه با میزان حقوق, پاداشهای مادی  و مواردی از این قبیل است. @Html.DropDownListFor(model => model.AA, listItems, "")        
ب-شغل دربردارنده مزایای کافی و برنامه هایی از قبیل بیمه درمانی , بازنشستگی و ...باشد.@Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
    <tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
          7) من معتقدم روحیه و انگیزه کاری من در شغلم بیشترین آسیب را در صورتی می بیند که:
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>     
            
                      
ج-در اجرای فعالیتهای جاری از نظرات و پیشنهادات من استفاده نکند. @Html.DropDownListFor(model => model.AA, listItems, "")        
ه-احساس کنم از مهارتها و استعدادهای واقعی من استفاده نمی شود. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
    <tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
          8) من مایلم در شغلم حداکثر تلاش و کوشش را به عمل آورم اگر:
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
الف-شرایط کاری مثل فضای محل کار, وسایل, مواد و تجهیزات مدرن و مطلوب باشد.@Html.DropDownListFor(model => model.AA, listItems, "")        
ب-برای اشتباهات تنبیه و مجازات در کار نباشد. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
    <tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
          9) به طور کلی مهمترین عامل در ارزشیابی یک شغل برای من این است که:
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
الف-پرداختهای آن شغل برای رفع نیازهای من و خانواده ام کافی باشد. @Html.DropDownListFor(model => model.AA, listItems, "")        
ه-در شغل مذکور از آزادی عمل کافی برخوردار باشم. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
    <tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
        10) من معتقدم روحیه و انگیزه کاری من در شغلم بیشترین آسیب را در صورتی می بیند که:
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
ب-شغل مذکور از امنیت خوبی برخوردار نباشد. @Html.DropDownListFor(model => model.AA, listItems, "")        
ه-احساس کنم از مهارتها و استعدادهای واقعی من استفاده نمی شود. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
    <tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
           11) من مایلم در شغلم حداکثر تلاش و کوشش را بعمل آورم اگر:
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
الف- شرایط کاری مثل فضای محل کار, وسایل, مواد و تجهیزات مدرن و مطلوب باشد. @Html.DropDownListFor(model => model.AA, listItems, "")        
د-در مقابل انجام وظیفه پاداش مناسبی دریافت کنم. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
    <tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
           12) به طور کلی مهمترین عامل در ارزشیابی یک شغل برای من این است که:
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
د-در شغل مذکور امکان رشد سریع بر اساس تلاشهای فردی فراهم باشد. @Html.DropDownListFor(model => model.AA, listItems, "")        
ه-در شغل مذکور از آزادی عمل کافی برخوردار باشم. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
    <tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
          13) من شخصا عقیده دارم پاداش واقعی کار:
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
ب-شغل دربردارنده مزایای کافی و برنامه هایی از قبیل بیمه درمانی , بازنشستگی و ...باشد. @Html.DropDownListFor(model => model.AA, listItems, "")        
ه-نهفته در خود کار است.کار با معنی و انگیزاننده بوده و انسان را به خود جلب کند. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
    <tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
          14) من معتقدم روحیه و انگیزه کاری من در شغلم بیشترین آسیب را در صورتی می بیند که:
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
ج-در اجرای فعالیتهای جاری از نظرات من استفاده نکند. @Html.DropDownListFor(model => model.AA, listItems, "")        
د-در مقابل کار مساوی با همکاران از احترام برابر با آنها برخوردار نباشم. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
    <tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
         15) من مایلم حداکثر تلاش و کوشش را به عمل آورم اگر:
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
ب-برای اشتباهات تنبیه و مجازات در کار نباشد. @Html.DropDownListFor(model => model.AA, listItems, "")        
د-در مقابل انجام وظیفه پاداش مناسبی دریافت کنم. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
    <tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
          16) بطور کلی مهمترین عامل در ارزشیابی یک شغل برای من این است که :
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
الف-پرداختهای آن شغل برای رفع نیازهای من و خانواده ام کافی باشد. @Html.DropDownListFor(model => model.AA, listItems, "")        
د-در شغل مذکور امکان رشد سریع بر اساس تلاشهای فردی فراهم باشد. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
    <tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
         17) من معتقدم روحیه و انگیزه کاری من در شغلم بیشترین آسیب را در صورتی می بیند که:
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
ب-شغل مذکور از امنیت خوبی برخوردار نباشد. @Html.DropDownListFor(model => model.AA, listItems, "")        
ج-در اجرای فعالیتهای جاری از نظرات و پیشنهادات من استفاده نکنند. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
    <tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
         18) من مایلم در شغلم حداکثر تلاش و کوشش را بعمل آورم اگر:
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
الف- شرایط کاری مثل فضای محل کار, وسایل, مواد و تجهیزات مدرن و مطلوب باشد. @Html.DropDownListFor(model => model.AA, listItems, "")        
ج-محیط کاری من از نظر روابط گروهی صمیمانه و مطلوب باشد. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
    <tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
          19) بطور کلی مهمترین عامل در ارزشیابی یک شغل برای من این است که :
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
الف-پرداختهای آن شغل برای رفع نیازهای من و خانواده ام کافی باشد. @Html.DropDownListFor(model => model.AA, listItems, "")        
ج-شغل مذکور شرایط مطلوبی را برای ایجاد روابط هماهنگ و صمیمانه کاری بوجود آورد. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
    <tr>
    <td>
    ____________________________________________________________________________________________________________________________________________________
    </td>
</tr>  
       <tr>
        <td>
            <h2>
          20) من معتقدم روحیه و انگیزه کاری من در شغلم بیشترین آسیب را در صورتی می بیند که:
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>          
ب-شغل مذکور از امنیت خوبی برخوردار نباشد. @Html.DropDownListFor(model => model.AA, listItems, "")        
د-در مقابل کار مساوی با همکاران از احترام برابر با آنها برخوردار نباشم. @Html.DropDownListFor(model => model.AB, listItems, "")
            </h4>
        </td> 
   </tr>
   
</table>     
       

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
