@model ManagerEmployeeNeoCharacter.Models.Neo

@{
    ViewBag.Title = "آزمون Neo";
}

<h2>آزمون Neo</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Neo</legend>
         
        <div class="editor-label">
            @Html.HiddenFor(model => model.N)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.N)
            @Html.HiddenFor(model => model.N)
        </div>

        <div class="editor-label">
            @Html.HiddenFor(model => model.O)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.O)
            @Html.HiddenFor(model => model.O)
        </div>

        <div class="editor-label">
            @Html.HiddenFor(model => model.E)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.E)
            @Html.HiddenFor(model => model.E)
        </div>

        <div class="editor-label">
            @Html.HiddenFor(model => model.A)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.A)
            @Html.HiddenFor(model => model.A)
        </div>

        <div class="editor-label">
            @Html.HiddenFor(model => model.C)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.C)
            @Html.HiddenFor(model => model.C)
        </div>
  
<div class="editor-label">
            @Html.LabelFor(model => model.NA)
    سوال 1 اگر سیذسایاساشیاشسی
        </div>
        <div class="editor-field">
       
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
               
        </div>
        ______________________________________________________________________________________________________________________________________________________________
 <div class="editor-label">
            @Html.LabelFor(model => model.NB)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NB)
            @Html.RadioButtonFor(model => model.NB, "0")0
            @Html.RadioButtonFor(model => model.NB, "1")1
            @Html.RadioButtonFor(model => model.NB, "2")2
            @Html.RadioButtonFor(model => model.NB, "3")3
            @Html.RadioButtonFor(model => model.NB, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________
        <div class="editor-label">
            @Html.LabelFor(model => model.NA)
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.NA)
            @Html.RadioButtonFor(model => model.NA, "0")0
            @Html.RadioButtonFor(model => model.NA, "1")1
            @Html.RadioButtonFor(model => model.NA, "2")2
            @Html.RadioButtonFor(model => model.NA, "3")3
            @Html.RadioButtonFor(model => model.NA, "4")4
        </div>
        ______________________________________________________________________________________________________________________________________________________________    


       <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeID, "Employee")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EmployeeID", string.Empty)
            @Html.ValidationMessageFor(model => model.EmployeeID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
   
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
